<div>
  <div class="row">
    <div *ngFor="let product of products" 
          class="col-lg-3 col-md-4 col-sm-6 col-xs-12 singleCard">
        <mat-card (click)="goToDetails(product)">
                
                <img mat-card-image src="https://pix.bonprix.pl/imgc/0/0/1/8/0/5/1/4/7/8/_640/18051478/t-shirt-star-wars-czarny-z-nadrukiem.jpg" alt="Photo of product">
                <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
                <mat-card-subtitle class="product-price">Cena: {{ product.price }}</mat-card-subtitle>
        </mat-card>
    </div>
  </div>
</div>
