<mat-card>
    <h1>Login</h1>
    <br/><br/>

    <form class="form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">

     <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>

      <span class="message" [ngClass]="{
        'message-error':message.status==='error',
        'message-info':message.status==='info'
      }">{{ message.content }}</span>
      <button mat-flat-button class="submitButton" *ngIf="!loading" [disabled]="!signInForm.valid">Register</button>
      <mat-spinner class="loadingSpinner" *ngIf="loading" [diameter]=40></mat-spinner>
      

    </form>
</mat-card>
